@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #000;
}
main{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: flex-start;
    padding: 10px;
    flex-wrap: wrap;
}
/* Search Section */
#search-sec{
    width: 100%;
    height: 10vh;
    /* border: 2px solid #fff; */
    padding: 10px;
    display: flex;
    justify-content: space-around;
}
#search-sec i{
    color: rgb(201, 5, 5);
    font-size: 3rem;
}
#search-box{
    width: 85%;
    height: 50px;
    padding : 10px;
    outline: none;
    font-weight: bold;
    border-radius: 10px;
    border: 2px solid #fff;
    color: #fff;
    background-color: #000;
}
#search-box:focus{
    border: none;
    font-size: 0.9rem;
    font-weight: bold;
    border-top: 2px solid rgb(201, 5, 5);
    border-bottom: 2px solid rgb(201, 5, 5);
}
/* Detail Section */
.movie-info{
    width: 20%;
    height: 50vh;
    border: 1px solid #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    padding: 3px;
    margin: 10px;
    border-radius: 10px;
}
.movie-name , .movie-actor{
    width: 250px;
    height: 50px;
    /* border: 2px solid #fff; */
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
}
#home-page{
    width: 100%;
    height: 90vh;
    background: url("/homepage-bg.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
}
#home-page h1{
    width: 60%;
    color: #fff;
    font-size: 4rem;
    letter-spacing: 10px;
    font-family: 'Pacifico', cursive;
    text-align: right;
    padding: 50px;
    position: absolute;
}

#home-page span{
    color: rgb(201, 5, 5);
}
@media only screen and (max-width:1200px){
    .movie-info{
        width: auto;
        height: 30vh;
    }
    #home-page h1{
        width: 100%;
        font-size: 3.5rem;
    }
}
@media only screen and (max-width:600px) {
    #search-box{
        width: 80%;
    }
    #home-page h1{
        width: 170px;
        padding: 5px;
        font-size: 2rem;
        text-align: center;
    }
    .movie-info{
        width: 40%;
        height: 80vh;
        border: none;
        border-radius: 0;
        border-bottom: 2px solid #fff;
    }
}
@media only screen and (max-width:500px) {
    #search-box{
        width: 70%;
        height: 40px;
    }

    #home-page h1{
        width: 170px;
        padding: 5px;
        font-size: 2rem;
        text-align: center;
    }
    .movie-info{
        width: 100%;
        height: 80vh;
        border: none;
        border-radius: 0;
        border-bottom: 2px solid #fff;
    }
}

